header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
}

header div {
    margin-left: 14px;
    height: 61px;
    width: 136px;
    background-image: url("/images/logo.png");
}